In [3]:
import extractor

dataframes = extractor.extract_data('schema_alignment/train')
dataframes2= extractor.extract_data('schema_alignment/test')

dataframes = dataframes + dataframes2

#remove all columns with unnamed like name
for i in range(len(dataframes)):
    dataframes[i] = dataframes[i].loc[:, ~dataframes[i].columns.str.contains('^Unnamed')]

#print all dataframes . colummns.values and name of file

for i in range(len(dataframes)):
    print(dataframes[i].columns.values, dataframes[i]['file_name'][0] + '\n')




schema_mediato = [
    'company_name',  # Nome della compagnia
    'company_address',  # Indirizzo
    'company_industry',  # Settore industriale
    'company_products_and_services',  # Produzione
    'company_country',  # Paese
    'company_market_cap',  # Capitalizzazione di mercato
    'company_revenue',  # Ricavi
    'company_ceo',  # CEO
    'company_employees',  # Numero di dipendenti
    'company_website',  # Sito web
    'company_foundation_date',  # Anno di fondazione
    'company_legal_form',  # Forma giuridica
    'company_status',  # Stato dell'azienda
    'company_legal_form',  # Tipo di azienda
    'company_sic_code',  # Codice SIC
    'company_nace_code',  # Codice NAC
    'company_vat_code',  # Codice
    'company_phone_number',  # Numero di azienda
    'company_headquarters',  # Sede centrale
    'company_stage' # Fase
]

Total dataframes processed successfully: 5
Total dataframes processed successfully: 11
['name' 'company_number' 'registered_office_address' 'company_status'
 'company_type' 'company_creation_date' 'nature_of_business' 'file_name'] output_govuk_bigsize

['name' 'headquarters' 'number_of_employees' 'address' 'industry'
 'website' 'market_cap' 'telephone' 'revenue' 'file_name'] output_globaldata

['name' 'code' 'legal form' 'status' 'registration date' 'capital'
 'address' 'area of activity' 'emtak code' 'nace code' 'partners'
 'partner_participations' 'partner_contributions' 'representatives'
 'representative_roles' 'representative_start_dates' 'deletion date'
 'file_name'] wissel_aziende_ariregister

['name' 'valuation' 'datejoined' 'country' 'city' 'industry' 'investors'
 'founded' 'stage' 'totalraised' 'file_name'] DDD_cbinsight

['name' 'address' 'nation' 'hhid' 'industry' 'sic_code' 'type'
 'est_of_ownership' 'file_name'] hitHorizons_dataset

['link' 'name' 'headquarters' 'employees' 'ceo' 'market_cap' 'file_name'] disfold

['name' 'world_rank' 'annual_revenue_in_usd' 'annual_net_income_in_usd'
 'annual_results_for_year_ending' 'total_assets_in_usd'
 'total_liabilities_in_usd' 'total_equity_in_usd'
 'headquarters_region_city' 'headquarters_country'
 'headquarters_sub_region' 'headquarters_continent' 'company_business'
 'number_of_employees' 'ceo' 'founders' 'company_website' 'file_name'] valueToday_dataset

['name' 'industry' 'headquarter' 'ownership' 'foundation year' 'file_name'] AmbitionBox

['name' 'rank' 'market_cap' 'country' 'share_price' 'change_1_day'
 'change_1_year' 'categories' 'file_name'] companiesMarketCap_dataset

['link' 'name' 'country' 'industry' 'revenue' 'employees' 'founded'
 'file_name'] ft

['index' 'url' 'name' 'trade name' 'address name' 'postalcode' 'city'
 'state' 'country' 'location type' 'file_name'] wissel_aziende_info_clipper

['name' 'industry' 'sector' 'headquarters' 'founded' 'notes' 'file_name'] MalPatSaj_wikipedia

['name' 'country' 'sales' 'profit' 'assets' 'market value' 'file_name'] MalPatSaj_forbes

['rank' 'brand name' 'category' 'main market' '2010 rank' 'file_name'] campaignindia

['name' 'website' 'locations' 'size' 'industry' 'founded' 'file_name'] DDD_teamblind

['company' 'facebook' 'twitter' 'instagram' 'pinterest' 'file_name'] company_social_urls

In [9]:
import os
import pandas as pd
import extractor

#extract all files in data/train
dataframes = extractor.extract_data('schema_alignment/test')



#print the dataframe with name valueToday_dataset

for i in range(len(dataframes)):
    if dataframes[i]['file_name'][0] == 'valueToday_dataset':
        d=dataframes[i]

d.head(5)

Total dataframes processed successfully: 10

,name,world_rank,annual_revenue_in_usd,annual_net_income_in_usd,annual_results_for_year_ending,total_assets_in_usd,total_liabilities_in_usd,total_equity_in_usd,headquarters_region_city,headquarters_country,headquarters_sub_region,headquarters_continent,company_business,number_of_employees,ceo,founders,company_website,file_name
0,Apple,1,"394,330 Million USD","99,803 Million USD",Sep-2022,"352,760 Million USD","302,080 Million USD","50,672 Million USD",California,USA,Northern America,Americas,"['Technology', 'Mobiles & Accessories', 'Elect...","154,000",Tim Cook,"['Steve Jobs', 'Steve Wozniak', 'Ronald Wayne']",https://www.apple.com/,valueToday_dataset
1,Taiwan Semiconductor Manufacturing Company (tsmc),10,"55,306 Million USD","20,783 Million USD",Dec-2021,"129,800 Million USD","54,253 Million USD","75,543 Million USD",Hsinchu,Taiwan,South East Asia,Asia,"['Technology', 'Semiconductors', 'Electronics'...","65,152",C. C. Wei,Morris Chang,https://www.tsmc.com/,valueToday_dataset
2,Nvidia Corporation,9,"26,914 Million USD","9,752 Million USD",For Year Ending JAN-2022,"44,187 Million USD","17,575 Million USD","26,612 Million USD",California,USA,Northern America,Americas,"['Technology', 'Semiconductors', 'Electronics'...","18,975",Jensen Huang,"['Jensen Huang', 'Chris Malachowsky', 'Curtis ...",http://www.nvidia.com/,valueToday_dataset
3,Berkshire Hathaway,8,"354,640 Million USD","89,795 Million USD",For Year ending Dec-2021,"956,780 Million USD","443,850 Million USD","514,930 Million USD",Nebraska,USA,Northern America,Americas,"['Financial Services', 'Investments', 'Insuran...","372,000",Warren Buffett,Oliver Chace,https://www.berkshirehathaway.com/,valueToday_dataset
4,Meta Platforms,7,"117,930 Million USD","39,370 Million USD",Dec-2021,"165,990 Million USD","41,108 Million USD","124,880 Million USD",California,USA,Northern America,Americas,"['Communication Services', 'Internet or Mobile...","77,805",Mark Zuckerberg,"['Mark Zuckerberg', 'Andrew McCollum', 'Eduard...",https://www.facebook.com/,valueToday_dataset

In [6]:
import json
import jsonlines

input_file = 'record_linkage/ditto/train/ditto_input.jsonl'
output_file = '../ditto-master/data/input/ditto_input.jsonl'

def format_record(record):
    # Crea una stringa formattata per il record
    parts = []
    for key, value in record.items():
        parts.append(f"COL {key} VAL {value}")
    return " ".join(parts)

with jsonlines.open(input_file, mode='r') as reader, jsonlines.open(output_file, mode='w') as writer:
    for obj in reader:
        # Per ogni riga, crea una lista con i due record formattati
        record1_str = format_record(obj["record1"])
        record2_str = format_record(obj["record2"])
        writer.write([record1_str, record2_str])

In [ ]:
import csv

input_filename = 'tuo_file.txt'   # Sostituisci con il nome del tuo file di input
output_filename = 'output.csv'      # Il nome del file CSV in output

with open(input_filename, 'r', encoding='utf-8') as infile, \
     open(output_filename, 'w', newline='', encoding='utf-8') as outfile:
    csv_writer = csv.writer(outfile)
    # Scrivi l'intestazione, se necessario
    csv_writer.writerow(['left', 'right', 'label', 'score'])

    for line in infile:
        # Rimuove eventuali spazi o newline e divide la riga sui tab
        row = line.strip().split('\t')
        csv_writer.writerow(row)