In [13]:
import pandas as pd
import extractor

dataframes = extractor.extract_data('../data/train')

#remove all columns with unnamed like name
for i in range(len(dataframes)):
    dataframes[i] = dataframes[i].loc[:, ~dataframes[i].columns.str.contains('^Unnamed')]

dataframes[4].head()

,name,valuation,dateJoined,country,city,industry,investors,founded,stage,totalRaised
0,Lacework,$8.3B,1/7/2021,United States,San Jose,Cybersecurity,"Sutter Hill Ventures, Liberty Global Ventures,...",2015.0,Series E,$1.907B
1,Tipalti,$8.3B,10/6/2020,United States,San Mateo,Fintech,"01 Advisors, Zeev Ventures, Group 11",2010.0,Series F,$556M
2,Tempus,$8.1B,3/21/2018,United States,Chicago,Health,"New Enterprise Associates, T. Rowe Associates,...",2015.0,Unattributed - II,$1.345B
3,Anduril,$8.48B,9/11/2019,United States,Irvine,Artificial intelligence,"Andreessen Horowitz, Founders Fund, Revolution...",2017.0,Series E,$2.309B
4,Bolt,$8.4B,5/29/2018,Estonia,Tallinn,Auto & transportation,"Didi Chuxing, Diamler, TMT Investments",2013.0,Series F,$1.971B