In [3]:
import pandas as pd
import extractor

dataframes = extractor.extract_data('../data/train')

#remove all columns with unnamed like name
for i in range(len(dataframes)):
    dataframes[i] = dataframes[i].loc[:, ~dataframes[i].columns.str.contains('^Unnamed')]

#print all dataframes . colummns.values and name of file

for i in range(len(dataframes)):
    print(i, dataframes[i].columns.values, '\n')

column_names = [
    'name',
    'industry',
    'founded',
    'headquarters',
    'country',
    'website',
    'market_cap',
    'revenue',
    'profit',
    'total_assets',
    'total_liabilities',
    'total_equity',
    'company_type',
    'company_status',
    'ownership_type',
    'registration_number',
    'business_activity',
    'employees',
    'ceo',
    'address',
    'locations',
    'size',
    'investors',
    'rank',
    'last_updated'
]

0 ['Name' 'Country' 'Sales' 'Profit' 'Assets' 'Market Value' 'file_name']

1 ['name' 'headquarters' 'number_of_employees' 'address' 'industry'
 'website' 'market_cap' 'telephone' 'revenue' 'file_name']

2 ['name' 'company_number' 'registered_office_address' 'company_status'
 'company_type' 'company_creation_date' 'nature_of_business' 'file_name']

3 ['id' 'name' 'world_rank' 'annual_revenue_in_usd'
 'annual_net_income_in_usd' 'annual_results_for_year_ending'
 'total_assets_in_usd' 'total_liabilities_in_usd' 'total_equity_in_usd'
 'headquarters_region_city' 'headquarters_country'
 'headquarters_sub_region' 'headquarters_continent' 'company_business'
 'number_of_employees' 'ceo' 'founders' 'company_website' 'file_name']

In [15]:
dataframes[14]

,ID azienda,Area of Activity,EMTAK Code,NACE Code,Source
0,2,Other activities auxiliary to financial servic...,66199 (EMTAK 2008),66.19,Electronic submission\n ...
1,3,Specialised design activities,74101 (EMTAK 2008),74.10,Annual report\n ...
2,4,Computer programming activities,62011 (EMTAK 2008),62.01,Annual report\n ...
3,5,Construction of residential and non-residentia...,41201 (EMTAK 2008),41.20,Electronic submission\n ...
4,6,Renting and operational leasing of other machi...,77399 (EMTAK 2008),77.39,Annual report\n ...
...,...,...,...,...,...
1010,1463,Other information technology and computer serv...,62091 (EMTAK 2008),62.09,Electronic submission\n ...
1011,1464,"Other professional, scientific and technical a...",74901 (EMTAK 2008),74.90,Annual report\n ...
1012,1465,Retail sale via mail order houses or via Internet,47911 (EMTAK 2008),47.91,Annual report\n ...
1013,1466,Manufacture of furniture n.e.c.,31091 (EMTAK 2008),31.09,Annual report\n ...
1014,1470,Other business support service activities n.e.c.,82991 (EMTAK 2008),82.99,Electronic submission\n ...